* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
}

#container {
    display: flex;
    justify-content: center;
    user-select: none;
    position: relative;
}

#container .side {
    margin: 0 2rem;
    padding: 1rem;
    width: 250px;
}

#info {
    text-align: center;
}

#info button {
    border: 1px solid grey;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

#info button:hover {
    border: 1px solid transparent;
}

answer-box {
    position: relative;
    border: 2px solid black;
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem 0;
    cursor: pointer;
    border-radius: 4px;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 2px gray;
    transition: 0.2s;
}

answer-box:hover {
    box-shadow: 0 0 4px grey;
}

.right {
    border: 2px solid green !important;
}

.wrong {
    border: 2px solid red !important;
}

#container svg {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 1;
}

#container #left .answer .dragfrom {
    position: absolute;
    right: -20px;
}

#container #right .answer .dragfrom {
    position: absolute;
    left: -20px;
}

#circles {
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    display: block;
    width: 600px;
    height: 600px;
}

#circles .circle {
    position: relative;
    border-radius: 50%;
    text-align: center;
    border: 1px solid transparent;
    margin: 0 auto;
    transition: 0.2s;
}

#circles .circle-outline {
    box-shadow: 0px 0px 8px blue;
}

#circles .label {
    margin: 0 auto;
    padding-top: 20px;
    height: 50px;
    width: fit-content;
}

#circles #chrono {
    background-color: violet;
    height: 600px;
    width: 600px;
}

#circles #macro {
    background-color: skyblue;
    height: 500px;
    width: 500px;
}

#circles #exo {
    background-color: lightgreen;
    height: 400px;
    width: 400px;
}

#circles #meso {
    background-color: orange;
    height: 300px;
    width: 300px;
}

#circles #micro {
    background-color: orangered;
    height: 200px;
    width: 200px;
}

#circles #child {
    background-color: beige;
    padding-top: 10px;
    height: 100px;
    width: 100px;
}

/* TODO: implement responsive design */